<!-- FOOTER -->
<div class="footer-section">
    <!-- Footer Column 1 -->
    <div class="container footer-container">

        <div class="col-lg-3 col-md-6 footer-subsection">
            <div class="footer-subsection-2-1">
                <h3 class="footer-subsection-title">About</h3>
                <p class="footer-subsection-text">We love to code and love to write. That's why we've a written a
                    book on AWS and Spring Boot.</p>
            </div>
        </div>
        <!-- Footer Column 2 -->
        <div class="col-lg-3 col-md-6 footer-subsection">
            <h3 class="footer-subsection-title">Contact Us</h3>
            <ul class="footer-subsection-list">
                <li><a href="mailto:info@stratospheric.dev">info@stratospheric.dev</a></li>
            </ul>
        </div>
        <!-- Footer Column 3 -->
        <div class="col-lg-3 col-md-6 footer-subsection">
            <h3 class="footer-subsection-title">Resources</h3>
            <ul class="footer-subsection-list">
                <li><a href="/privacy">Privacy</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-subsection">
            <h3 class="footer-subsection-title">Credits</h3>
            <p class="footer-subsection-text">Key facts icons provided by <a
                    href="https://fontawesome.com/license" title="Font Awesome">Font Awesome</a>.</p>
        </div>
    </div>
</div>
